.CodeMirror-sizer .mermaid-chart div,
.CodeMirror-sizer .mermaid-chart span {
    font-family: "trebuchet ms",verdana,arial,sans-serif !important;
}

.CodeMirror-sizer .mermaid-chart {
    display: block;
    overflow: visible;
    width: 100%;
}

.CodeMirror-sizer .mermaid-chart svg {
    display: block;
    height: auto !important;
    max-height: none !important;
    max-width: 100% !important;
}

.enhancement-mermaid-block-marker-line {
    display: none;
}
